---
import { logos } from 'virtual:starlight/user-images';
import config from 'virtual:starlight/user-config';
const { siteTitle } = Astro.locals.starlightRoute;
---

<a
  href="https://thesma.dev"
  target="_blank"
  rel="noopener noreferrer"
  class="site-title sl-flex"
>
  {
    config.logo && logos.dark && (
      <>
        <img
          class:list={{ 'light:sl-hidden print:hidden': !('src' in config.logo) }}
          alt={config.logo.alt}
          src={logos.dark.src}
          width={logos.dark.width}
          height={logos.dark.height}
        />
        {!('src' in config.logo) && (
          <img
            class="dark:sl-hidden print:block"
            alt={config.logo.alt}
            src={logos.light?.src}
            width={logos.light?.width}
            height={logos.light?.height}
          />
        )}
      </>
    )
  }
  <span class:list={{ 'sr-only': config.logo?.replacesTitle }} translate="no">
    {siteTitle}
  </span>
</a>
